@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    --main-clr: #6557D2;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6557d260;
}

.main{
    display: flex;
    /* border: 1px solid #f3f3f3; */
    /* padding: 0.6rem; */
    border-radius: 6px;
    gap: 1rem;
    background-color: white;
}

.form-header {
    padding: 0.8rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}

.chart {
    width:800px;
    height:600px;
}