@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #1e2b54;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
    /* appearance: unset; */
}

html{
    --main-clr: #3a4c7a;
    --background-clr: #96a5d9;
    --border-clr: #dee3f3;
    --graphc-clr: #eaedf7;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040c24;
    background-image: url('./images/background.png');
    background-size: cover; 
    background-repeat: no-repeat;
}

.main{
    display: flex;
    /* border: 1px solid #e4e8f5; */
    /* padding: 0.6rem; */
    border-radius: 8px;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 7rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* box-shadow: 5px 0px 10px -4px rgba(0,0,0,0.2); */
    border-radius: 8px;
}

.form-header {
    padding: 0.8rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}

.form-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.form-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.form-body form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-btns {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn {
    padding: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--border-clr);
    border-radius: 8px;
}

#btnOrbita {
    background-color: #1e2b54;
    color: white;
}

#btnVelocidade{
    background-color: #4863bd;
    color: white;
}

input,
select {
    padding: 0.4rem;
    border: 1px solid var(--border-clr);
    border-radius: 5px;
    background-color: white;
}

.chart {
    width:800px;
    height:600px;
}
 